img {
    width: 50%;
    height: auto;
}

a,
a:active,
a:hover {
text-decoration: none;
color:#51cacc
}

body {
    padding:0;
    margin: 0;
}

.main {
    padding: 0rem 2rem;
}

.header{
    background-color: #692e6d;
    color:#51cacc;
    text-align: left;
}

.nav 
{
    color: white;
}

.active-item {
    /* display: inline-block; */
    background-color: #f0e8f1;
    padding: 1rem 1rem;
    border-radius: 6px;
    border: 1px solid #692e6d;
    margin: 3rem 3rem;
    height: 15rem;
    max-width: 60rem;
    min-width: 12rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.active-item:active,
.active-item:hover {
    background-color: #692e6d;
    margin: 3rem 3rem;
    transform: scale(1.1);
    text-decoration: none;
}

.active-image, .active-description {
    padding: 0.5rem 0.5rem;
    display: inline-block;
    width: 40%;
    height:auto;
    min-width: 200px;

    text-align: left;
    vertical-align: top;
    margin: 0.5rem 0.2rem;

}

.active-description {
    text-align: left;
    vertical-align: top;
    margin: 0.5rem 0.2rem;
}

h2, h3 {
    text-align: inherit;
    margin: inherit;
}