.item-main a {
text-decoration: none;
color: inherit;
}


.item-main a:active,
.item-main a:hover {
text-decoration: none;

}

.active-item {
    background-color:rgba(232, 209, 203, 0.9);
    color: #515B48;
    border-radius: 6px;
    border: 2px solid #81483E;
    height: 20rem;
    box-shadow: 12px 12px 2px 1px rgba(0,0,0,0.26);
    padding: 0.5rem 0.5rem;
    margin: 2rem;
} 


.active-item:active,
.active-item:hover {
    background-color: rgba(81, 91, 72, 0.9);
    color: #E8D1CB;
    transform: scale(1.05);
    text-decoration: none;
    
}

.card-header {
    margin-bottom: 1rem;
    background-color: rgba(129, 72, 62, 0.3);
    font-weight: bold;
}