body {
    margin: 0px 0px;
    background-color: rgba(255,255,255,0.6);
}

a,
a:active,
a:hover {
text-decoration: none;
}


img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index:-1;

  }



.upper-head {
    text-align: left;
    background-color: rgba(129, 72, 62, 0.9);
    min-width: 100%;
    font-family: 'Rampart One', cursive;
    color: #E8D1CB;

}

.upper-nav {
    background-color: rgba(129, 72, 62, 0.9);
    min-width: 100%;
    color: #515B48;
    padding-bottom: 1rem;
}

.upper-nav  a{
    color: #90a082;
    font-weight: bold;
    
}
.upper-nav a:active,
.upper-nav a:hover 
{
    color: #515B48;
    background-color: #E8D1CB;
    
}

.upper-nav span{
    color: #E8D1CB;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
    background-color: rgba(232, 209, 203, 0.8);
    color: rgba(129, 72, 62, 1);
    font-size: 0.75rem;
}
