{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
      <div class="row">
      <div class="col-2"></div>
        <div class="col-8">
                <div class="new-item-form">
                <div class="item-title new-item-title item-card">Add Your Item</div>
                    <form action='/list-new-item' method="POST">
                    {% csrf_token %}
                    {% for field in list_item_form %}

                <div class="row">
                <div class="col-1"></div>
                <div class="col-4 item-label">
                <span>{{field.label_tag}}</span>
                </div>
                <div class="col-6">
                {{field}}
                </div>             
                </div>

                {% endfor %}

                <div class="row">
                 <div class="col-1"></div>
                <div class="col-4 item-label">
                    <span>{{bid_form.bid_value.label_tag}}</span>
                </div>
                <div class="col-6">
                    {{bid_form.bid_value}}
                </div>  
                </div>
                <div class="row">
                <div class="col form-button">
                    <button type="submit">List Item!</button>
                </div>
                </div>    
                    </form>
                </div>
      </div>
  </div>      
</div>

{% endblock %}