{% extends "auctions/layout.html" %}

{% block body %}
<div class="container item-main">
   {% if items %}
   {% for item in items %}
   {% if forloop.first %}<div class="row">{% endif %}

        <div class="card col-5 active-item">
        <a href="{% url 'item-page' id=item.id %}"> 
        <div class="row g-0">
            <div class="col-md-4 active-img">
            {% if item.img_url %}
             <img src="{{item.img_url}}" class="card-img" alt="{{item.title}}">
             {% else %} 
             <span>Sorry, author didn't provide the image</span>
            {% endif %}
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-header">{{item.title}}</div>
                    <h5 class="card-title">Price: {{item.max_bid_value}} $</h5>
                    <p class="card-text">{{item.description|slice:":100"}}... </p>
                    <p class="card-text"><small class="text-muted">Created: {{item.list_date}}</small></p>
                </div>
            </div>

        </div>
         </a>
        </div> 

  

    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    {% else %}
    <div class="row">
    <div class="col no-items">
    <span>Sorry, there are no items yet.</span>
    </div>
    </div>

    {% endif %}
</div>
   
{% endblock %}