{% extends "auctions/layout.html" %}

{% block body %}
<div class="container item-card">
  <div class="row">
        <div class="col">
                {% if item.img_url %}
                <img src="{{item.img_url}}" class="card-img" alt="{{item.title}}">
                {% else %} 
                <span>Sorry, author didn't provide the image</span>
                {% endif %}
        </div>

        <div class="col-8">
                <div class="item-title">{{item.title}}</div>
                <div class="item-cat">
                        <a href={% url 'list-by-cat' cat_id=item.category.pk %}>
                                <span>{{item.category}}</span>
                        </a>
                </div>
                
                {% if user.is_authenticated %}
                <div class="item-watchlist">
                        <a href="{% url 'add-remove-watch' item_id=item.id%}">
                        {% if not wl %}
                                <span>Add to watchlist</span>
                        {% else %}
                                <span>Remove from watchlist</span>
                        {% endif %}
                        </a>
                </div>
                {% endif %}

                <div>{{item.description}}</div>
                <div><small class="text-muted">Created by: {{item.listed_by}} on {{item.list_date}}</small></div>
                <hr>
                <div class="item-bid">Current bid: <span>{{item.max_bid}} $</span></div>
        </div>
  </div>
  </div>      
</div>
{% endblock %}