<div class="row">
    <div class='comment col'>

{% if user.is_authenticated %}
        <h4>Add a comment:</h4>
        <form class="" action="{% url "add-comment" item_id%}" method="POST">
        <div class="form-group">
                        {% csrf_token %}
                        {{ comm_form.comment_text }}

                        <button type="submit" class="btn">Post</button>   

        </div>
        </form>      
        {% else %}
         To leave a comment, please <a class="bid-a" href="{% url "login"%}"> Log in </a> 
         or <a class="bid-a" href="{% url "register"%}"> Register. </a> 
{% endif %}

    </div>
</div>

<hr>

{% if comments %}

<div class="row">
    <div class='comment col-3'>
        {% for comment in comments %}
        {{comment.author}} <small class="text-muted">commented on {{comment.publish_date}}</small>:
    </div>
</div>

<div class="row">
            <div class="col-3"></div>    
            <div class="comment col-9">
        {{comment.comment_text}}
            </div>
</div>

        {% endfor %}

{% else %}
<div class="row">
    <div class='comment col'>
            No comments yet.
    </div>
</div>
 {% endif %}          

                
   
